<!-- Social networks links widget -->

<ul class="social-widget">
    <li class="social-widget__item">
        <a href="https://www.facebook.com/farmamundi/" target="_blank" title="{{'Perfil de Farmamundi en Facebook'|t}}">
            <span class="icon-facebook"></span>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/farmamundi" target="_blank" title="{{'Perfil de Farmamundi en Twitter'|t}}">
            <span class="icon-twitter"></span>
        </a>
    </li>
    <li>
        <a href="https://gitlab.com/civics-apps/civics-farmamundi" target="_blank" title="{{'Repositorio de este mapa en Gitlab'|t}}">
            <span class="icon-github"></span>
        </a>
    </li>
</ul>
<div class="social__help-tip arrow-right"
     ng-show="content.show_help" ng-click="content.show_help = false">
     {{ 'Usa estos botones para encontrarnos en otras plataformas o contactar con nosotros' | t }}
</div>
