/* line 3, ../sass/admin.sass */
#header {
  background-color: #222;
}

/* line 6, ../sass/admin.sass */
div.breadcrumbs {
  background-color: #333;
}

/* line 9, ../sass/admin.sass */
#content {
  padding-top: 96px;
}

/* line 12, ../sass/admin.sass */
h1 {
  color: #222;
}

/* line 15, ../sass/admin.sass */
.module h2, .module caption, .inline-group h2 {
  background-color: #444;
}
