{# About page #}
{% extends 'layouts/single-fluid-column.html' %}
{% load static utils i18n %}

{% block body_classes %}
about
{% endblock %}

{% block document_title %}
    {% trans 'Acerca' %}
{% endblock %}

{% block main %}
    <div class="civics-about">
        <h1 class="civics-about__title">
            MAPA DE ACTIVOS
        </h1>
        <div class="civics-about__text">
	    <p>
            Este mapa de activos de salud ha sido desarrollado para el proyecto ED002/2019 <em>¡Activando salud! Mapeando recursos para la salud (pro)positiva 
	    y preventiva desde lo local a lo global</em> financiado por la <a href="https://www.juntadeandalucia.es/aacid/" target="_blank">"Agencia Andaluza 
	    de Cooperación Internacional para el Desarrollo</a> e impulsado por la delegación de <a href="https://farmaceuticosmundi.org/" target="_blank">Farmamundi</a>
	    en Andalucía.
	    </p>
            <p>
	    En el mapa se identifican recursos comunitarios para la salud global localizados de forma participativa en procesos que promueven el 
	    empoderamiento y agencia de la ciudadanía respecto a su bienestar.
	    </p>
	    <p class="civics-about__logos" style="text-align: center">
	        <img src="/static/civics/img/logo-AACID.png" alt="Logo de la AACID"/>
            </p>
        </div>
        <div class="civics-about__license-text">{% blocktrans trimmed %}
            Esta obra está bajo <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
            Licencia Creative Commons Atribución-CompartirIgual 4.0 internacional</a>
            Los datos recopilados están bajo <a href="https://opendatacommons.org/licenses/odbl/1.0/" target="_blank">
            licencia ODbL 1.0.</a>
            El código fuente de la plataforma está disponible bajo una licencia
            <a href="https://www.gnu.org/licenses/gpl.html" target="_blank">
            General Public License 3.0</a>.
        {% endblocktrans %}</div>
    </div>
{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", ()=>{
         var faq_items = document.querySelectorAll('.faq-item');
         faq_items.forEach(item => {
              item.addEventListener('click', i => {
                  item.classList.toggle('active');
              });
         });
         var active_menu_item = document.querySelector('.main-menu__link--about');
         active_menu_item.classList.add('active');
   });
</script>
{% endblock %}
