@import compass/css3/transition
@import compass/css3/opacity

.grid
  padding: $m
  +breakpoint('md')
    padding: $m*4 $m*6
  height: calc(100vh - 128px)
  overflow-y: auto
  +transition(left .1s ease)

.grid.featured
  height: calc(100vh - 56px)

[class^='grid__subtitle--']
  text-transform: uppercase
  text-align: center
.grid__subtitle--initiatives
  color: #dc5099

.grid__item
  +inline-block
  &:hover
    cursor: pointer
  width: 100%
  position: relative
  padding: $m/2
  +breakpoint('sm')
    width: 50%
  +breakpoint('md')
    width: 50%
  +breakpoint('lg')
    width: 33%

.grid__item-wrapper
  margin: $m/4
  outline: 2px solid transparent
  transition: outline-color .2s ease
  &:hover
    cursor: pointer
    outline: 2px solid #dc5099

.grid__item img
  background: #eee
  vertical-align: bottom

.grid__item-name
  font-size: 1em !important
  color: white
  padding: $m/4
  line-height: 1.1

.grid__item-caption
  +clearfix
  background-color: #111
  color: white
  font-size: $size_small

.grid__item-categories
  font-size: .7em
  line-height: 1
  padding: 6px
  background-color: #222
  color: white

.grid__item-blank-image
  +box-shadow(0 0 10px rgba(black, .2))
  width: 100%
  height: 50%
  text-align: center
  padding: $m*2 0
  span
    font-size: 100px
    color: #555
  background-color: #dedede

.grid__item-name
  +h(5)

.initiatives-grid__pager
  +clearfix
  margin-bottom: $m
  font-size: .8em
  padding: $m/4
.initiatives-grid__pager.bottom
  margin-top: $m*2
.initiatives-grid__pager-info
  opacity: .9

.initiatives-grid__pager-link
  &:first-child
    margin-right: $m/2
  background-color: white
  padding: 4px 8px
  &:hover
    cursor: pointer

.initiatives-grid__pager-links
  text-transform: uppercase
  font-size: .9em
  font-weight: bold
  color: #333
  +breakpoint('xs')
    margin-top: $m
    text-align: center
  +breakpoint('sm')
    float: right
    display: inline

.initiatives-grid__pager-info
  text-align: center
  +breakpoint('sm')
    display: inline

.grid__item-date
  position: absolute
  top: $m/2
  right: $m/2
  background: rgba(white, .9)
  text-align: center
  padding: $m/3
.grid__item-date-day
  font-size: 1.5em
.grid__item-date-month
  text-transform: uppercase

.grid__no-results
  width: 480px
  margin: $m*2 auto
  padding: $m
  font-size: 1.5em
  background: rgba(white, .5)
  +border-radius(12px)

.grid__item-image
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAADklEQVQImWNgQAVSZHAADXgAaQuCV7gAAAAASUVORK5CYII=) repeat white
  text-align: center
  +clearfix
  & .leaflet-marker-icon
    display: inline-block
    margin: $m 0
  & .outer::before
    text-shadow: none !important
  img
    float: left

.grid__item-city
  font-size: .8em
  background-color: #222
  color: white
  padding: $m/6
  width: 100%
