{# Template to render a modelform #} {% extends 'layouts/single-fixed-column.html' %} {% load i18n %}
{% block body_classes %}popup-modelform--city{% endblock %}


{% block main %}
    {% include 'pages/title.html' with title=title %}
    {% if form.errors and not form.non_field_errors %}
        <p class="form-errors">
            {% if form.errors.items|length == 1 %}
                {% trans "Parece que hay un error en el formulario. Revísalo, por favor." %}
            {% else %}
                {% trans "Parece que hay errores en el formulario. Revísalo, por favor.." %}
            {% endif %}
        </p>
    {% endif %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="form-errors">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}
    <form enctype="multipart/form-data" method="post" class="form--city">
        {% csrf_token %}
        <div class="form-fields--city">
            {% include 'forms/field.html' with field=form.name %}
            {% include 'forms/field.html' with field=form.name_es %}
            {% include 'forms/field.html' with field=form.position %}
        </div>
        <input class="form__submit" type="submit" value="{% trans 'Envía' %}" />
    </form>
{% endblock %}

{% block page_scripts %}
    {{ form.media }}
{% endblock %}
