{# Template to render all fields in a form #}
{# Not included in form.html to be reusable (in the context of a composed form, for instance) #}
{% load i18n %}

<div class="form-fields--{{ form_class }}">
    <div class="fieldset--inline">
        {% include 'forms/field.html' with field=form.actives %}
    </div>
</div>
