{# Extend basic page #}
{% extends 'layouts/single-fixed-column.html' %}
{% load i18n %}

{% block body_classes %}contact{% endblock %}
{% block document_title %}Contacta{% endblock %}

{# Content #}
{% block main %}
    <span class="fake-breadcrumb" onclick="history.go(-1)">
        ← {% trans 'Volver atrás' %}
    </span>
    <h1 class="civics-contact__title">
        {% trans 'Contacta con nosotras' %}
    </h1>
    {% include 'forms/regular-form.html' with form_title="contact" form=form form_class="contact generic" submit_text="Manda el mensaje" %}
{% endblock %}
