@import compass/css3/inline-block

.region-toolbar
  padding: 6px 0

[class^='region-toolbar__']
  +inline-block

.region-toolbar__left
  padding: 0 $m/2

.region-toolbar__center
  padding: 0 $m/2
  display: inline-block

.region-toolbar__right
  padding: 0 $m/2
  display: inline-block
  float: right
