@import compass/css3/transition
@import compass/css3/transform
@import compass/css3/border-radius
@import compass/css3/box-shadow
@import compass/css3/inline-block

.initiative-info
  background: white
  +inline-block
  padding: 0 0 $m*2
  +links_actives
  max-height: calc(100vh - 100px)
  overflow-y: auto

.initiative-info__name
  text-transform: uppercase
  margin: $m/2 $m 0
  line-height: 1.1
  margin-bottom: $m/3
  font-size: 1.3rem

.initiative-actions
  background-color: white
  text-align: right

.initiative-action__close
  +inline-block
  font-style: normal
  color: #111
  +transition(color .15s ease)
  &:hover
    cursor: pointer
    color: #555
  font-size: 2rem
  line-height: $m*1.5
  z-index: 100
  margin-right: $m

.initiative-action__edit,
  font-size: 2rem
  line-height: $m*1.5
  display: none
  +transform(rotate(45deg))
  float: left
  margin-left: $m
  border: 0 !important
.staff-user
  .initiative-action__edit,
    +inline-block

.initiative-info__details
  font-size: .7em
  margin: $m*1.5 0 0
  padding: $m/2 $m $m
  clear: both
  z-index: 100
  background-color: #eee

.initiative-info__detail
  margin-bottom: $m

.initiative-info__detail a
  margin-left: $m/2
  line-height: 30px

.initiative-image
  margin: 0 0 $m
  text-align: center
  overflow: hidden
  +transition(opacity .25s ease)
  img
    +box-shadow(0 0 5px rgba(black,.25))
    +transition(transform .5s ease-out)
  &:hover
    opacity: .8
    img
      +transform(scale(1.05))

.initiative-info__video
  margin: $m 0
  background: url('../img/loading.gif') no-repeat center center white

.initiative-image--blank
  color: #ddd
  text-align: center
  line-height: 200px
  background-color: #eee
  font-size: 100px
  height: 200px

.initiative-header
  margin-bottom: $m

.initiative-header
  .initiative-marker
    width: 25%
    padding-left: $m
    float: right
    margin-top: $m/2
    text-align: center
    +inline-block
    .outer::before
      +text-shadow(none)
    .inner
      left: 29px !important

.initiative-info__detail
  margin-bottom: 4px
  line-height: 26px
  vertical-align: middle

.initiative-info__description--calendar
  margin-top: $m

.initiative-info__details--calendar
  margin-top: $m*2

.initiative-info__detail--initiative
  font-weight: 400
  margin-bottom: $m/2

.initiative-marker__description
  margin: $m/2 $m $m*1.5

[class^='initiative-info__detail--']
  margin: $m/3 0
  [class^='icon-']
    display: inline-block
    width: $m
    text-align: center
    color: #555
    margin-right: $m/2
    vertical-align: middle
    opacity: .5

.initiative-info__detail--initiative
  border-bottom: 1px dotted $color_text
  padding-bottom: $m/3
  text-transform: uppercase

.initiative-info--events .initiative-marker .leaflet-marker-icon.cm .inner
  left: 30px !important
  // +big_icon
  &::before
    font-size: 2em

.initiative-info__detail--facebook,
.initiative-info__detail--twitter
  [class^='icon']
    font-size: 20px

.initiative-marker__categories
  margin: 0 $m $m/2
  font-size: $size_small *.8
  text-transform: uppercase

.initiative-header .leaflet-marker-icon
  float: left
  margin: 0 $m/2

.initiative-header .leaflet-marker-icon .outer::before
  +text-shadow(none !important)

.initiative-info__event-details,
.initiative-info__initiative-details,
  margin: 0 $m
  text-transform: uppercase
  font-size: .9em
.initiative-info__details
  font-weight: bold
  font-size: .75em
.initiative-info__detail--link .icon-website:before
  font-size: .7em
.initiative-info__detail--periodicity
  margin-left: 40px

.initiative-info__detail--initiative span
  font-size: .75em
  color: #555
  display: block

.initiative-info__relations
  padding: $m
  font-size: .8em
.initiative-info__relations-label
  text-transform: uppercase
  margin: 0 0 $m/2
.initiative-info__relations .leaflet-marker-icon.cm
  text-align: left
  float: left
  +transform(scale(.75))
.initiative-info__relations .outer::before
  text-shadow: none !important
.initiative-info__relations-item
  clear: both
  +transition(background-color, .2s ease)
  &:hover
    cursor: pointer
    background-color: #eee
.initiative-info__relations-item-name
  padding: $m*.75 $m $m $m*2
.initiative-info__relations-desc
  padding: $m/2 0

.initiative-info__ods
  margin-bottom: $m
  +clearfix
  a
    border: 0
  img
    border-radius: 6px
    transition: opacity .2s ease
  a:hover
    img
      opacity: .75
.initiative-info__ods-label
  margin: $m 0 $m/2
  text-transform: uppercase
  font-weight: bold
  font-size: .8em
  color: #333
.initiative-info__ods-icons
  a
    display: inline-block
    vertical-align: middle
    margin-left: 6px
  img
    max-width: $m*3
  a:first-child img
    max-width: $m*4 !important
.initiative-info__detail--address .icon-event-address
  width: 24px
  font-size: 24px
  line-height: 24px
  text-indent: 4px
.initiative-info__file-label
  font-weight: bold
  font-size: .8em
.initiative-info__file-value
  font-size: .8em

.initiative-info .icon-instagram
  display: inline-block
  background: url('/static/civics/img/instagram.svg') no-repeat
  background-position: center center
  background-size: contain
  width: $m
  height: 20px

.initiative-info__detail--website
  .icon-website:before
    position: relative
    top: -3px
