@import compass/css3/transition

//Map common elements and resets
#civics-map
  width: 100%
  position: relative
  height: calc(100vh - 132px) !important
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAEklEQVQImWNgYGCQYiAWYFcJAAkAADUIx7G1AAAAAElFTkSuQmCC) repeat #666

  .leaflet-top
    top: 72px
  .leaflet-top.leaflet-right
    top: 0
    left: 10px
    right: inherit
  .leaflet-control-attribution
    +links_normal
    background-color: white
    font-size: $size_small
    font-family: $font_text
    right: $m/2
  .leaflet-control-layers-toggle
    background-image: url('../img/layers.png') !important
    background-size: cover
    width: 26px
    height: 26px
  .leaflet-control-layers-overlays
    display: none
  .leaflet-expand
    position: absolute
    top: 46px
    left: 10px
    text-align: center
    z-index: 100
    width: 26px
    line-height: 26px
    background: white
    +box-shadow(0 0 10px rgba(black, .5))
    &:hover
      cursor: pointer
  .leaflet-div-icon
    border: 0 !important
    background: none !important
  .fa-map-marker,
  .fa-spinner
    +i("◎")
    color: $color_text !important

  &:after
    content: url('../img/south.svg')
    width: $m*2
    height: $m*2
    opacity: .5
    position: absolute
    z-index: 11000
    bottom: $m*2

//Map clusters
.prunecluster
  background: white !important
  line-height: 42px
  text-align: center
  +border-radius(50%)
  +box-shadow(0 0 10px rgba(black, .5))
  font-weight: bold
  color: #333

.prunecluster__city
  display: none
  font-family: $font_text
  background: white
  position: absolute
  padding: $m/3

.show-city-labels
  .prunecluster:hover + .prunecluster__city
    display: block

//Map markers
.leaflet-marker-icon.cm
  text-align: center
  position: relative
  .outer
    +icon
    &::before
      +text-shadow(0 0 5px rgba(black, .5))
  .inner
    +icon
    +inline-block
    +border-radius(50%)
    background-color: rgba(white, .1)
    position: absolute
    text-align: center
    &::before
      font-size: 23px
      line-height: 23px
      color: rgba(black, .75)
  [class*='icon-activity'].inner::before
    font-size: 36px
    line-height: 30px
    left: 1px
  &.size--1 
    .outer::before
      font-size: 45px
    .inner
      width: 18px
      height: 18px
      top: 8px
      left: 6px
      background-size: 12px 12px
  &.size--2 
    .outer::before
      font-size: 60px
    .inner
      width: 24px
      height: 24px
      top: 11px
      left: 8px
      background-size: 18px 18px
  &.size--3 
    .outer::before
      font-size: 75px
    .inner
      width: 30px
      height: 30px
      top: 13px
      left: 10px
      background-size: 22px 22px
.i-cat-2
  background-position: center 33%

#civics-map.highlighted .leaflet-marker-icon
  opacity: .45 !important
#civics-map.highlighted .leaflet-marker-icon.featured
  opacity: 1 !important
#civics-map.highlighted .leaflet-marker-icon.related
  opacity: .85 !important
