  <!-- Navigation filters on initiative map -->
<div class="map-filters__wrapper">
    <ul class="map-filters">
        <li class="map-filters__filter">
            <p class="map-filters__label">
                <img src="/static/civics/img/icons/target.svg" />
                <span class="map-filters__filter-name">{{'Ciudad'|t}}</span>
            </p>
            <ul class="map-filters__categories">
                <div class="cities-wrapper" ng-repeat="(country,cities) in content.cities">
                    <li class="map-filters__category category-city"
                        ng-repeat="(city, data) in cities track by $index"
                        ng-click="content.toggleFilter('cities', city, data)"
                        ng-class="{ 'active' : content.active_legend_items['cities'][city] }">
                        {{ data.name }}
                    </li>
                </div>
            </ul>
        </li>
        <li class="map-filters__filter">
            <p class="map-filters__label map-filters__label--topic">
                <img src="/static/civics/img/icons/bookmark.svg" />
                <span class="map-filters__filter-name">
                    {{ 'Itinerarios' | t }}
                </span>
            </p>
            <ul class="map-filters__categories map-filters__categories--topics">
                <li class="map-filters__category category-topic-{{key}}"
                  ng-repeat="(key,name) in content.categories"
                  ng-click="content.toggleFilter('categories', key)"
                  ng-class="{ 'active' : content.active_legend_items['categories'][key] }">
                  {{ name|t }}
                </li>
            </ul>
        </li>
        <li class="map-filters__filter">
            <p class="map-filters__label">
                <img src="/static/civics/img/icons/loader.svg" />
                <span class="map-filters__filter-name">{{ 'ODS' | t }}</span>
            </p>
            <ul class="map-filters__categories">
                <li class="map-filters__category category-ods-{{key}}"
                    ng-repeat="(key,name) in content.ods"
                    ng-click="content.toggleFilter('ods', key)"
                    ng-class="{'active': content.active_legend_items['ods'][key]}">
                    {{ name|t }}
                </li>
            </ul>
        </li>
        <li class="map-filters__filter">
            <p class="map-filters__label">
                <img src="/static/civics/img/icons/user.svg" />
                <span class="map-filters__filter-name">{{'Titularidad'|t}}</span>
            </p>
            <ul class="map-filters__categories">
                <li class="map-filters__category category-agent-{{key}}"
                    ng-repeat="(key,name) in content.agents"
                    ng-click="content.toggleFilter('agents', key)"
                    ng-class="{'active': content.active_legend_items['agents'][key]}">
                    {{ name|t }}
                </li>
            </ul>
        </li>
    </ul>
    <div class="filters__help-tip arrow-up"
         ng-click="content.show_help = false" ng-show="content.show_help">
      {{ 'Esta es la leyenda del mapa. Puedes pulsar en las ciudades y distintas categorías para filtrar los contenidos visibles según tus intereses' | t }}
    </div>
</div>
