<!-- Popup that displays marker info in leaflet maps -->

<div class="initiative-info initiative-info--{{content.section}}" ng-class="{ 'expanded' : info.expanded }">
    <!-- User actions -->
    <div class="initiative-actions">
        <a class="initiative-action__edit" href="/edita/activo/{{ info.marker.id }}">✏</a>
        <i class="initiative-action__close" ng-click="info.closePopup()">×</i>
    </div>

    <!-- Profile header -->
    <div class="initiative-header">
        <a href="{{ info.marker.url }}" target="_blank" title="{{ 'Saber más sobre' | t }} {{ info.marker.nam }}">
            <figure class="initiative-image">
                <img ng-show="info.marker.img" ng-src="{{ info.marker.img }}" />
                <div ng-hide="info.marker.img" class="initiative-image--blank">
                    <span class="icon-agent"></span>
                </div>
            </figure>
        </a>
        <div class="leaflet-marker-icon cm">
            <i class='outer i-ods-{{ info.marker.ods }} i-ag-{{ info.marker.agent }}'></i>
            <i class='inner i-cat-{{ info.marker.category }}'></i>
        </div>
        <div class="initiative-header-text">
            <h2 class='initiative-info__name'>
                {{ info.marker.nam }}
            </h2>
            <p class="initiative-marker__categories">
                <span class="initiative-marker__itineraries">
                     Itinerario {{ info.marker.category_name }} —
                </span>
                <span class="initiative-marker__itineraries" ng-repeat="name in info.marker.categories">
                     Itinerario {{ name | t }} — 
                </span>
                <span class="initiative-marker__ods">
                    ODS : {{ info.marker.ods_name | t }}
                </span>
                <span class="initiative-marker__agent">
                    — Titularidad {{ info.marker.agent_name }}
                </span>
            </p>
        </div>
    </div>

    <!-- Profile description text -->
    <div class='initiative-marker__description'>
        {{ info.marker.des }}
        <p class="initiative-info__detail--link" ng-if="info.marker.ewe">
            <span class="icon-website"></span>
            <a href="{{ info.marker.ewe }}" target="_blank">
              {{ info.marker.ewe }}
            </a>
        </p>
    </div>

    <!-- Profile description text -->
    <iframe class='initiative-info__video' ng-if="info.media_src" ng-src="{{ info.media_src }}"
            width="480" height="360"
            frameborder="0"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen>
    </iframe>

    <!-- Profile details -->
    <div class='initiative-info__details'>
        <!-- Initiative details -->
        <p class="initiative-info__detail--address">
            <span class="icon-event-address"></span>
            <a href="/{{ info.lang }}/#!/activos?center={{ info.marker.lat }},{{ info.marker.lng }},16">
                {{ info.marker.add }} ({{ info.marker.city }})
            </a>
        </p>
        <p class="initiative-info__detail--website" ng-show="info.marker.web">
            <span class="icon-website"></span>
            <a href="{{ info.marker.web }}" target="_blank">
                {{ info.marker.web }}
            </a>
        </p>
    </div>
</div>
