<!-- Profile of selected marker -->
<div marker-info></div>

<!-- Map viewport container including map and user actions over it -->
<div class="map-container">
    <!-- Grid display of elements -->
    <div class="grid featured">
        <h5 class="grid__subtitle--{{content.section}}">
            <span>
                {{'Activos destacados'|t}}
            </span>
        </h5>
        <div class="grid__no-results" ng-if="content.featured_items.length == 0">
            {{'Parece que todavía no se han generado contenidos de este tipo'|t}}
        </div>
        <div class="grid__item"
             ng-repeat="marker in content.featured_items"
             ng-click="content.show(marker)">
            <img ng-show="marker.img" ng-src="{{ marker.img }}" />
            <img ng-hide="marker.img" src="/static/civics/img/blank.png" />
            <div class="grid__item-caption">
              <p class="grid__item-name">{{ marker.nam }}</p>
              <p class="grid__item-city">{{ marker.cities }}</p>
            </div>
        </div>
        <h5 class="grid__subtitle--{{content.section}}">
            <span>
                {{'Últimos activos incorporados'|t}}
            </span>
        </h5>
        <div class="grid__no-results" ng-if="content.last_items.length == 0">
            {{'Parece que todavía no se han generado contenidos de este tipo'|t}}
        </div>
        <div class="grid__item"
             ng-repeat="marker in content.last_items"
             ng-click="content.show(marker)">
            <img ng-show="marker.img" ng-src="{{ marker.img }}" />
            <img ng-hide="marker.img" src="/static/civics/img/blank.png" />
            <div class="grid__item-caption">
              <p class="grid__item-name">{{ marker.nam }}</p>
              <p class="grid__item-city">{{ marker.cities }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Social widgets block -->
<div social></div>
