{# Staff user dashboard #}
{% extends 'layouts/single-fluid-column.html' %}
{% load utils  i18n static imagekit leaflet_tags users %}
{% block body_classes %}dashboard{% endblock %}

{% block page_header %}
  {% leaflet_css %}
  <meta name="google-signin-client_id" content="{{ google_client_id }}"></meta>
{% endblock %}

{% block main %}
    {% trans 'Mi perfil' as page_title %}
    <a href="{% url 'users:signout' 'me' %}" class="user-delete">
        {% trans 'Cancelar mi usuario' %}
    </a>
    {% include 'pages/title.html' with title=page_title %}
    <div class="dashboard-left">
        <div class="dashboard-left__left">
            <div class="initiatives--dashboard">
                <div class="initiatives--dashboard__title">
                    <h2>{% trans 'Mis iniciativas' %}</h2>
                     <span class="initiatives--dashboard__count">({{ initiatives|length }})</span>
                     <a class="initiatives--dashboard__create" title="{% trans 'Crea una iniciativa' %}"
                        href="{% url 'modelforms:create_initiative' %}">
                        <span class="icon-add"></span>
                     </a>
                </div>
                <div class="initiatives--dashboard__items">
                    {% for initiative in initiatives %}
                    <a href="{% url 'modelforms:edit_initiative' initiative.pk %}">
                        <div class="initiatives--dashboard__item">
                            <figure class="initiatives--dashboard__item-image">
                                {% if initiative.image %}
                                    {% thumbnail '100x100' initiative.image %}
                                {% else %}
                                    <span class="icon-agent"></span>
                                {% endif %}
                            </figure>
                            <div>
                                <h5 class="initiatives--dashboard__item-name">
                                    {{ initiative.name }}
                                </h5>
                                <div class="initiatives--dashboard__item-date">
                                    {% trans 'Fecha de alta:' %} {{ initiative.creation_date }}
                                </div>
                            </div>
                            <p class="initiatives--dashboard__edit">
                                {% trans 'Editar' %}
                            </p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-right">
        <div class="events-map--dashboard__title">
            <h2>{% trans 'Mapa de iniciativas' %}</h2>
        </div>
        {% leaflet_map "dashboard_map" %}
    </div>
{% endblock %}

{% block page_scripts %}
    <!-- Dependencies -->
    {% leaflet_js %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Populate map. See apps.users.templatetags -->
    {% dashboard_leaflet_js user_initiatives=initiatives %}
    <!-- Import events. See apps.users.templatetags -->
    {% events_import_js user_id=request.user.id user_initiatives=initiatives %}
{% endblock %}
